.login{
    display:flex;
}
.left{
    width:50%;
}
.instructions{
    height:400px;
}
.left .speech-bubble{
    transform: scaleX(-1);
}
.right{
    width:50%;
}
.loginForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-top: 15%;
}

textarea{
    height: 200px;
    width: 100%;
}

.input{
    height: 50px;
    width:300px;
    font-size: 36px;
    /* background:yellow; */
}
input.login-button{
    font-size: 72px !important;
    height: 50px;
}

.welcomeMessage{
    flex-wrap: wrap;
    text-align: center;
    color: yellow;
    font-size: 80px;
}

body {
    background-image: url('/deathly-hallows-wallpapers-24.jpg');
}

