.characterContainer{
    display: flex;
    justify-content: space-around;
}

.textInfo {
    color: white;
}

.charBtn {
    display: flex;
    justify-content: space-around;
}

.left{
    transform: scaleX(-1);
}

.leftCharacter{
    background:white;
    transform: scaleX(-1);
}

p{
    background: white;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 10px;
}