@media only screen and (min-width:0px) and (max-width:830px) and (orientation:portrait){
    .character-container{
        display: none;
        justify-content: space-between;
        width:100%;
    }
    .left-wizard-selection{
        width:100%;
    }
    .right-wizard-selection{
        width:100%;
    }

    .textInfo {
        color:white;
    }

    .charBtn {
        display: flex;
        justify-content: space-around;
    }
    .opponentDiv{
        height:300px;
    }

    .armyName{
        width:100%;
        color: white;
        text-align: center;
        font-size: 1px;
        font-style: normal;
    }
}

@media only screen and (min-width:320px) and (max-width:830px) and (orientation:landscape){
    .character-container{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .left-wizard-selection{
        width:100%;
    }
    .right-wizard-selection{
        width:100%;
    }

    .textInfo {
        display:none;
    }

    .charBtn {
        display: flex;
        justify-content: space-around;
    }
    .opponentDiv{
        height:300px;
    }

    .armyName{
        width:100%;
        color: white;
        text-align: center;
        font-size: 1px;
        font-style: normal;
    }
}

@media only screen and (min-width:813px) and (max-width:1023px) and (orientation:landscape){
    .character-container{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .left-wizard-selection{
        width:100%;
    }
    .right-wizard-selection{
        width:100%;
    }

    .textInfo {
        display:none;
    }

    .charBtn {
        display: flex;
        justify-content: space-around;
    }
    .opponentDiv{
        height:300px;
    }

    .armyName{
        width:100%;
        color: white;
        text-align: center;
        font-size: 1px;
        font-style: normal;
    }
}

@media only screen and (min-width:1024px) and (max-width:1999px) and (orientation:landscape){
    .character-container{
        display: flex;
        justify-content: space-between;
        width:100%;
    }
    .left-wizard-selection{
        width:100%;
    }
    .right-wizard-selection{
        width:100%;
    }

    .textInfo {
        display:none;
    }

    .charBtn {
        display: flex;
        justify-content: space-around;
    }
    .opponentDiv{
        height:300px;
    }

    .armyName{
        width:100%;
        color: white;
        text-align: center;
        font-size: 1px;
        font-style: normal;
    }
}

@media only screen and (min-width:1025px){
    .characterContainer{
        display: flex;
        justify-content: space-around;
    }
    .textInfo {
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
    }
    .charBtn {
        display: flex;
        justify-content: space-around;
    }
    .opponentDiv{
        /* padding-top: 2%; */
        height:300px;
    }
    .left{
        transform: scaleX(-1);
    }
    .leftCharacter{
        background:white;
        transform: scaleX(-1);
    }
    p{
        background: white;
        text-align: center;
        font-size: 24px;
        margin: 0;
        padding: 10px;
    }
}
