.spellsTable {
    display: flex;
    flex-wrap:wrap;
    color: white;
    columns: 3;
    height: 100px;
    width: auto;
    overflow-y: scroll;
}

.spellChoiceBtn {
    flex-wrap: wrap;
    height: 90px;
    width: 300px;
    background-color: rgb(28, 189, 28);
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
    padding:0 10px;
    margin-right:8%;
    font-weight:bold;
}

.spellName{
    font-size: 24px;
}

div.radio-pillbox{
    width:25;
    position:right;
    padding:0;
}

