.spellsTable {
    display: flex;
    border: 1px solid black;
    color: white;
    columns: 2;
    height: 80px;
    overflow-y: scroll;
    /* background: white; */
}

/* #mainTable {
    height: 230px;
    width: 550px;
    border-collapse: collapse;
} */

.spellChoiceBtn {
    flex-wrap: wrap;
    height: 80px;
    width: 300px;
    background-color: rgb(28, 189, 28);
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
    padding:0 10px;
    margin-right:8%;
    font-weight:bold;
}

.spellName{
    font-size: 24px;
  }